.around { background-color: rgb(126, 188, 243);
}
body{
    background-color:rgb(185, 185, 255);
}
.around__body {
    max-width: 823px;
    margin: 0px auto;
    
}
.around__header {
    margin: 0px 0px 65px 0px;
    
}
.around__title {
    margin: 0px 0px 30px 0px;
    
}
.around__text {
    max-width: 700px;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 26px;
    margin: 0px auto;
    
}
.around__row {
    display: flex;
    font-size: 23px;
    margin:0px 65px;
    
}
.around__column {
    flex: 0 0 33,33%;
    
}
.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;
    
    
}
.item-about {

}
.item-around__icon {
    margin: 0px auto;
    border-radius: 100%;
    width: 127px;
    height: 127px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0px 0px 40px 0px;
    background-color:rgb(252, 247, 251);
    
}
.item-around__title {
    text-align: center;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin:0px 50px 1px 0px;
    

}
.item-around__text {
    margin: 0px 110px 0px 0px;
    text-align: center;
    font-size: 16px;
    
}
img{ width: 115px;
height: 115px;
border-radius: 100%;

}